html {
    font-family: 'Poppins';
    color: white;
    font-weight: 800;
    height: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    left: 1.5vw;
}

a {
    color: white;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

#section-one {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

#recipe-details {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#times {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.times-with-icons {
    text-align: center;
    width: 100%;
    border: 2px dotted white;
    padding-top: 1em;
    padding-bottom: 0;
}

.icon {
    height: 25px;
    width: auto;
}

#ingredients {
    border-top: 2px solid white;
}

#ingredients > h2 {
    padding-left: 5%;
}

#section-two {
    width: 45%;
    display: flex;
    justify-content: center;
}

#directions {
    margin: auto;

}

#directions > h2 {
    padding-left: 5%;
}

#video {
    display: flex;
    justify-content: center;
    margin: auto;
}

@media (max-width: 1000px) {
    body{
        background-repeat: repeat;
    }

    #container {
        flex-direction: column;
    }

    #section-one, #section-two {
        width: 90%;
        margin: auto;
    }

    h1, h2 {
        text-align: center;
    }
}